<%# If we don't add the specifc CSS link file, the stylesheet for the version won't load: %>
<head>
  <%= stylesheet_link_tag @css_file %>
<head>

<body>
  <section>
    <h1>This is version 1</h1>
    <p>With a blueviolet color</p>
  </section>
</body>
